extends ../layout
block vars
	- var pagename = "p-gallery p-" + page;
	- var pagetitle = text[lang][page];
block content
	.wrapper.m-main
		aside.aside
			a(href='index.html').top-block.back-button
				.back-button__text #{text[lang].to_home}
				.back-button__arrow
			.gallery-nav
				.gallery-nav__control.m-up.js-navUp
					.icon
				.gallery-nav__list.js-list
					.gallery-nav__holder.js-holder
						each item,i in gallery[page]
							- var className = (i==0)? 'gallery-nav__item js-galleryItem m-active':'gallery-nav__item js-galleryItem';
							div(class='#{className}',
									data-big='../assets/img/gallery/#{page}/big/#{item.image}',
									data-description='#{item[lang]}')
								img(src='../assets/img/gallery/#{page}/thumb/#{item.image}')
				.gallery-nav__control.m-down.js-navDown
					.icon
		section.main-content
			.top-block
				h1.page-title #{text[lang].name}
			.under-top__block
					h2.page-subtitle #{text[lang].subtitle}
			.gallery-name
				.gallery-name__text #{text[lang][page]}
			.gallery-image__wrapper
				.galery-image
					img.galery-image__img.m-visible.js-image(src='../assets/img/gallery/#{page}/big/#{gallery[page][0].image}')
					.gallery-image__preload.js-preloader
					.galery-image__info.js-info !{gallery[page][0][lang]}
	.cats.wrapper
		.cats__image
		.signature.m-gallery
	.wrapper
		.aside
			mixin contacts('m-no-top')
			.flower-small