extends ../layout
block vars
	- var pagename = "p-home";
block content
	div.wrapper.m-main
		aside.aside
			.top-block.lang
				a(href='../ru/').lang__item Русский
				a(href='../en/').lang__item English
			.aside__img
				img(src="../assets/img/photo.jpg")
			mixin contacts()
			.flower
		section.main-content
			.top-block
				h1.page-title #{text[lang].name}
			.under-top__block
				h2.page-subtitle #{text[lang].subtitle}
			div.home-nav
				a.home-nav__item(href="illustration.html")
					img.home-nav__image(src="../assets/img/menu-illustration.jpg")
					span.home-nav__text #{text[lang].illustration}
				a.home-nav__item(href="graphics.html")
					img.home-nav__image(src="../assets/img/menu-drawing.jpg")
					span.home-nav__text #{text[lang].graphics}
				a.home-nav__item(href="painting.html")
					img.home-nav__image(src="../assets/img/menu-painting.jpg")
					span.home-nav__text #{text[lang].painting}
	.cats.wrapper
		.cats__image
		.signature