extends ../layout
block vars
	- var pagename = "home";
block content
	div.home-bg
		img.home-bg__img(src="../assets/img/draw.png", alt="#{text[lang].sitename}")
	div.wrapper
		aside.home-aside
			.home-aside__img
				img(src="../assets/img/photo.jpg")
			.home-aside__contacts
				div #{text[lang].contacts}
				a(href="mailto:faina_barto@mail.ru") faina_bart@mail.ru
				a(href="skype:fainabarto") fainabarto (skype)
		section.home-content
			h1.home-content__header #{text[lang].name}
			div.home-nav
				a.home-nav__item(href="illustration.html")
					img.home-nav__image(src="../assets/img/menu-illustration.jpg")
					span.home-nav__text #{text[lang].illustration}
				a.home-nav__item(href="drawing.html")
					img.home-nav__image(src="../assets/img/menu-drawing.jpg")
					span.home-nav__text #{text[lang].drawing}
				a.home-nav__item(href="painting.html")
					img.home-nav__image(src="../assets/img/menu-painting.jpg")
					span.home-nav__text #{text[lang].painting}