block vars
	- var pagename = "metapage";
mixin contacts(top)
	div(class='aside__contacts #{addon}')
		div #{text[lang].contacts}:
		a(href="mailto:faina_barto@mail.ru") fainabarto@outlook.com
		a(href="mailto:faina_barto@mail.ru") faina_barto@mail.ru
		a(href="skype:fainabarto") fainabarto (skype)
		a(href="http://freelansim.ru/freelancers/faina_barto") Freelansim.ru
		a(href="http://brainstorage.me/Irina_Marchenko") Brainstorage.me
		a(href="https://dribbble.com/Marchenko") Dribble
doctype html
html(class='no-js', lang='#{lang}')
	head
		meta(charset='UTF-8')
		title #{text[lang][page]} - #{text[lang].sitename}
		meta(name='description', content='')
		meta(name='viewport', content='width=820')
		link(rel='stylesheet', href='../assets/css/style.min.css')
		link(rel='shortcut icon', type='image/x-icon', href='../assets/favicon.ico')
	body(class="#{pagename}")
		block content
		script(src='../assets/js/main.min.js')